@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'coffee';
    src: url("/coffee.ttf");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

#extension-popup {
    width: 32em;
    height: 45em;
    display: flex;
    flex-direction: column;
}

.grid-website {
    font-size: 1.8em;
    background-color: rgb(0, 153, 255);
    color: white;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-align: center;
    margin: 10px;
}

.grid-info {
    height: 100%;
    margin: 10px;
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(206, 206, 206);
}

.grid-info-item {
    font-size: 16px;
    padding: 8px;
}

.rating-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.8em;
}

.rating-div-input {
    margin-top: 0.25em;
    height: 1.8em;
    width: 5em;
    padding: 0.1em;
    font-size: 16px;
}

.rating-div input:focus {
    outline: 0;
}

.grid-info-textarea {
    resize: none;
    font-size: 16px;
    margin: 8px;
    padding: 8px;
    height: 5em;
}

/* A child div with position: absolute is positioned relative to the nearest ancestor with a position property of relative, absolute, fixed, or sticky.*/
/*position absolute is required so that the inner star can be placed directly on top of the outer star*/
.grid-info-stars-outer {
    position: relative;
    margin-left: 1em;
    font-size: 35px;
    -webkit-text-stroke: 2px rgb(0, 153, 255); /* width and color */
    letter-spacing: 3px;
    color: white;
}

.grid-info-stars-outer::before {
    content: "\2605\2605\2605\2605\2605";
}

.grid-info-stars-inner {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    white-space: nowrap; /* collapses to one single line. does not allow line breaks*/
    overflow: hidden;   /* this is essential because it basically hides content that surpasses width length */
    width: 0em;
}

.grid-info-stars-inner::before {
    content: "\2605\2605\2605\2605\2605";
    color: rgb(103, 199, 255);
}

.status-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-options {
    height: 1.8em;
    font-size: 16px;
    width: 8em;
}

.extension-options {
    margin: 10px;
    margin-top: 0em;
}

.extension-button{
    width: 32.1%;
    color: white;
    background-color: rgb(0, 153, 255);
    font-size: 18px;
    height: 2.4em;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid white;
    cursor: pointer;
}

.extension-attribution {
    font-size: 16px;
    padding: 8px;
    margin: 5px;
}

.invalid-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 24px;
}

.invalid-options {
    position: absolute;
    bottom: 10%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.login-page {
    position: absolute;
    top: 53.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30em;
    height: 39em;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.5em;
}

.login-page h1 {
    font-family: 'coffee';
    margin-top: 0.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 90%;
    color: rgb(0, 153, 255);
}

.login-page input, .login-page textarea {
    height: 3em;
    width: 90%;
    margin: 0.8em;
    border: 1px solid transparent;
    outline: none;
    border-bottom: 1px solid rgb(172, 172, 172);
    font-size: 18px;
    padding: 0.5em;
    resize: none;
    overflow: hidden;
}

.login-page-submit, .register-page-submit {
    height: 3em;
    width: 45%;
    background-color: rgb(0, 153, 255);
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-top: 1em;
    cursor: pointer;   
    width: 90%;
    border: 1px solid rgb(216, 216, 216);
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(81, 17, 255));
    margin-bottom: 0.5em;
}

.login-page p {
    position: absolute;
    bottom: 4%;
    font-size: 16px;
}

