@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'magic';
    src: url("/fonts/magic.ttf");
}

@font-face {
    font-family: 'coffee';
    src: url("/fonts/coffee.ttf");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

body {
    min-height: 115vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.overlay {
    inset: 0;
    height: 100vh;
    z-index: 5;
    position: fixed;
    width: 100vw;
    background-color: rgba(0,0,0,.08); /*this sets the slightly see-through black*/
}

/* Repeating patterns */
textarea {
    resize: none;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.5em;
}

.chronicle-attribute-names, .user-section-attributes, .about-history-subcategories, .search-results-attributes  {
    border-bottom: 1px solid rgb(172, 172, 172);
}

.chronicle-attributes, .user-chronicle-info, .user-chronicle-info-small, .about-history-item, .about-stat, .about-stats-extra, .searched-chronicle-text, .search-container-stat {
    border: 1px solid transparent;
    border-right: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
}

.chronicle-first-column, .about-history-item, .about-stat, .about-stats-extra, .search-container-stat {
    border-left: 1px solid rgb(172, 172, 172);
}

.chronicle-first-row {
    border-top: 1px solid rgb(172, 172, 172);
}

button, select {
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
}

/* about page*/
.about-synopsis {
    pointer-events: none;
    width: 100%;
    height: 94.3vh;
}

/* Navigation Bar */
.nav-bar-margin {
    margin-top: 2.4em;
}

.nav-bar {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.7em;
    z-index: 5;
}

.nav-bar-title {
    font-family: 'magic';
    color: white;
    position: absolute;
    left: 30px;
    top: 3px;
    font-size: 52px;
}

.nav-link {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding: 0.5em;
    width: 8em;
    font-weight: 500;
    border: 2px solid transparent;
}


.nav-link:hover {
        border: 2px solid white;
}
/* KEVIN Added this section */

.nav-dropdown {
    display: none;
    justify-content: center;
    font-size: 20px;
    background: transparent;
    color: white;
    padding: 0.5em;
    width: 8em;
    font-weight: 500;
    border: 2px solid transparent;
}    
.nav-link-m {
    display: none;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding: 0.5em;
    width: 0px;
    height: 0px;
    font-weight: 500;
}

@media screen and (min-width: 1200px){  

    .nav-mobile {
        display: none
    }

}
@media screen and (max-width: 1200px){
    .nav-bar {

        height: auto;
    }
    .nav-link {
        display: none
    }
    .nav-mobile {
        display: block;
        width: 100%;
    }
    .nav-dropdown {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        transition: 0.5s;
    }
    
    .nav-dropdown:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .nav-link-m {
        display: block;
        height: 100%;
        width: 100%;
    }
    .nav-link-m:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .nav-bar-margin {
        margin-top: 6.27em;
    }
}
/* END of KEVIN section*/

.nav-profile {
    height: 3em;
    width: 3em;
    padding: 0.2em;
    position: absolute;
    top: 5px;
    right: 120px;
    border-radius: 50%;
    border: 3px solid white;
}

.nav-profile:hover {
    background-color: rgb(0, 119, 199);
}

.nav-profile-options {
    position: absolute;
    right: 5px;
}

.nav-logout {
    height: 3em;
    width: 3em;
    padding: 0.2em;
    position: absolute;
    top: 5px;
    right: 30px;
    border: 3px solid white;
    background-color: rgb(0, 153, 255);
}

.nav-logout:hover {
    cursor: pointer;
    background-color: rgb(220, 44, 255);
}

/* Nav Bar End*/

/* Nav category options*/

.nav-category-options {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.nav-category-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16em;
    height: 2.6em;
    margin: 0.5em;
    border: 1px solid rgb(216, 216, 216);
    margin-left: 2em;
    margin-right: 2em;
}

.nav-category-options-title {
    font-size: 18px;
    color: black;
}

.nav-category-options-container:hover {
    border: 1px solid rgb(172, 172, 172);
}

/* Nav Category End */

/* User profile Section */

.about-section {
    display: grid;
    grid-template-columns: 22em 1fr;
    grid-auto-rows: max-content;
    border:  1px solid rgb(216, 216, 216);
    width: 76em;
    margin-top: 0.5em;
    padding: 2em;
    margin-bottom: 4em;
}

.about-username {
    font-size: 18px;
    color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.7em;
    margin-bottom: 0.9em;
}

.about-section img {
    grid-row: 2/4;
    grid-column: 1/2;
    width: 20em;
    height: 17em;
    object-fit: cover;
}

.about-section textarea {
    grid-row: 1/3;
    grid-column: 2;
    font-size: 17px;
    outline: none;
}

.about-history {
    margin-top: 1.5em;
    grid-row: 3/5;
    border: 1px solid rgb(172, 172, 172);
    padding: 1.4em;
    overflow: hidden;
}

.about-history-title {
    font-size: 20px;
    border-bottom: 1px solid rgb(172, 172, 172)
}

.about-history-subcategories {
    display: grid;
    grid-template-columns: 21em 10em 10em 5em;
    margin-top: 0.8em;
}

.about-history-subcategories p {
    font-size: 18px;
}

.about-history-item {
    display: grid;
    grid-template-columns: 20.5em 10em 10em 5em;
    margin-bottom: -1px;
}

.about-history-item p {
    font-size: 16px;
    margin-left: -1px;
    padding: 0.5em;
}

.about-stats {
    margin-top: 0.8em;
    width: 92.2%;
    display: flex;
    flex-direction: column;
}

.about-stats p {
    font-size: 20px;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.about-section-stats {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.about-stat, .about-stats-extra {
    font-size: 16px;
    padding: 0.5em;
    margin-bottom: -1px;
}

.about-stats-extra {
    flex-grow: 1;
}

.chronicle-category-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    cursor: pointer;
}

.chronicle-category-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 15.2em;
    border: 1px solid rgb(216, 216, 216);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

.selected-chronicle-category {
    border-bottom: 0;
    /*background-color:rgb(109, 186, 207);*/
}

.selected-chronicle-category p {
    /*color: white !important;*/
    border-bottom: 1px solid black;
}

.chronicle-category-options p {
    font-size: 20px;
    color: black;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 3em;
    width: 76em;
    height: auto;
    margin-top: -12px;
    /*background-color: rgb(109, 186, 207);*/
}

.filter-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.filter-category-bottom {
    display: flex;
    align-items: center;
    margin-left: -0.5em;
}

.overlay-container {
    background-color: white;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 36em;
    border: 1px solid rgb(172, 172, 172);
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.delete-chronicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-searched-chronicle {
    height: 44em;
    width: 52em;
}

.add-searched-chronicle-title {
    margin-top: 0.3em;
    background-color: rgb(0, 153, 255);
    height: 1.8em;
    color: white;
    white-space: nowrap;
    font-size: 24px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-searched-chronicle-attributes {
    width: 80%;
    height: 69.4%;
    border: 1px solid rgb(172, 172, 172);
    margin-top: 1em;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.searched-attributes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.3em;
    margin-bottom: 1.5em;
}

.add-searched-chronicle-attributes p {
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space:nowrap;
}

.add-searched-chronicle-attribute-input-num {
    margin-left: 0.5em;
    margin-right: 2em;
    width: 5em;
    height: 2.3em;
    font-size: 16px;
    padding-left: 0.5em;
}

.add-searched-chronicle-attribute-input-date {
    width: 9.8em;
    height: 2.5em;
    font-size: 16px;
    margin-left: 0.5em;
    margin-right: 2em;
}

.add-searched-chronicle-attributes select {
    width: 9.8em;
    height: 2.5em;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    margin-left: 1em;
    padding-left: 0.8em;
    font-size: 16px;
}

.add-searched-chronicle-attributes textarea {
    margin-top: 0.5em;
    width: 98%;
    height: 7em;
    margin-bottom: 1.5em;
}

.overlay-container-title {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.overlay-container-button {
    font-weight: 600;
    width: 12em;
    height: 3.2em;
    font-size: 16px;
    margin: 0.8em;
    margin-top: 2em;
    cursor: pointer;
}

.no:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

.yes:hover {
    background-color: rgb(255, 69, 63);
    color: white;
}

.user-chronicle-filters {
    margin-top: 3em;
    width: 84%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 15.4em);
    grid-auto-rows: minmax(4em, 4em); /* Makes sure that the height of the head of the display stays the same when the navigations for lists pop up and when window is resized*/
}

.user-chronicle-filters-year {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 9.8em;
    padding: 0.2em;
    font-size: 16px;
}

.user-chronicle-filters-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 14em;
    padding-left: 0.4em;
    font-size: 16px;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.user-chronicle-filters-button {
    margin-left: 2.5em;
    width: 80%;
    height: 64.6%;
    font-size: 16px;
}

.drop-zone {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 80%;
    text-align: center;
}

.import-preview {
    min-height: 5em;
    max-height: 15em;
    overflow-y: scroll;
    background-color: white;
    text-align: start;
    border: 1px solid rgb(172, 172, 172);
    padding-left: 5em;
    padding-right: 5em;
}

.drop-zone p {
    font-size: 18px;
}

.indent-one {
    margin-left: 2em;
}

.indent-two {
    margin-left: 4em;
    margin-bottom: 0.2em;
}

.drop-zone input {
    width: 50%;
    margin: auto;
    font-size: 18px;
    background-color: white;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.drop-zone input[type=file]::file-selector-button {
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.4em;
    font-weight: 100;
}

.filter-category-name {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 0.5em;
    margin-left: 1em;
}

.user-chronicle-filters select {
    display: flex;
    height: 2.5em;
    width: 9em;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    font-size: 16px;
    text-align: center;
    padding-left: 0.4em;
}

.add-chronicles-page {
    padding: 1.4em;
    padding-bottom: 2.4em;
    z-index: 2;
    width: 50em;
    height: 40em;
}

.add-chronicles-options {
    margin-bottom: 1.5em;
}

.add-chronicles-search {
    border-radius: 10px;
    border: 1px solid rgb(119, 119, 119);
    padding: 0.8em;
    font-size: 16px;
    width: 35%;
    margin-left: 0.5em;
    height: 2.5em;
}

.close-chronicles-options {
    position: absolute;
    right: 3.9%;
    height: 3.2em;
    width: 3.2em;
}

.close-chronicles-options:hover {
    background-color: rgb(255, 69, 63);
}

.close-chronicles-options::before {
    content: "\274c";
    padding: 0.4em;
    color: transparent;
    text-shadow: 0 0 0 rgb(119, 119, 119);
}

.close-chronicles-options:hover::before {
    text-shadow: 0 0 0 white;
}

.add-chronicles-section-container {
    display: flex;
    justify-content: space-around;
    height: 90%;
}

.add-chronicles-section {
    border: 1px solid rgb(172, 172, 172);
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    overflow-y: scroll;
    padding-left: 4em;
    padding-right: 3em;
}

.add-chronicles-section h1{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
}

.add-section-attributes {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 16.9em 7.1em 1fr;
    margin-top: 1em;
    font-size: 18px;
}

.add-chronicles-content {
    margin: 1em;
    margin-top: 0.4em;
}

.add-chronicle-item {
    display: grid;
    grid-template-columns: 19em 8em 7em 1fr;
    grid-template-rows: minmax(2.7em, 2.7em);
}

.add-chronicle-additional {
    position: relative;
    left: -0.5%;
    border: 1px solid rgb(172, 172, 172);
    width: 179.2%;
    margin-bottom: -1px;
}

.add-chronicle-additional-info {
    padding-top: 1em;
    padding-left: 1.4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.add-chronicle-item-top {
    border: 1px solid rgb(172, 172, 172);
    padding-left: 0.6em;
    padding-right: 0.6em;
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-left: -1px;
    margin-bottom: -1px;
}

.add-chronicle-item-top-button {
    margin-top: 0.1em;
    margin-bottom: 0.4em;
    border-radius: 100%;
    height: 1.4em;
    width: 1.4em;
    font-size: 28px;
    margin-left: 0.3em;
    color: rgb(172, 172, 172);
}

.add-chronicle-bottom-first {
    display: grid;
    margin-left: 1.4em;
    grid-template-columns: 3.5em 9.2em 4em 6em 4em 4em;
    margin-top: 1em;
}

.add-chronicle-bottom-first p {
    font-size: 16px;
    display: flex;
    margin-right: 0.2em;
    align-items: center;
}

.add-chronicle-bottom-first select {
    width: 8.5em;
    height: 2.5em;
    font-size: 14px;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.4em;
}

.add-chronicle-bottom-first input {
    width: 5em;
    height: 2.5em;
    font-size: 14px;
    padding: 0.4em;
}

.add-chronicle-item-middle {
    font-size: 16px;
    margin-left: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.add-chronicle-textarea {
    width: 91.5%;
    height: 8em;
    margin-left: 1.4em;
    font-size: 16px;
    outline: none;
}

.add-chronicle-textarea::selection {
    border: 1px solid rgb(172, 172, 172);
}

.add-chronicles-item-bottom {
    display: flex;
    justify-content: center;
    width: 100%;    
}

.add-chronicle-button {
    width: 9em;
    height: 2.5em;
    margin: 1em;
    font-size: 16px;
}

.user-container-section {
    width: 85%;
    margin-left: 5%;
    margin: 2em;
    margin-top: 0em;
    height: 1000vh;
}

.user-section-title{
    font-weight: 300;
    grid-row: 1;
    grid-column: 1/7;
    width: 92.3%;
    margin-left: 2.9%;
    border-bottom: 1px solid rgb(172, 172, 172);
    margin-top: 1em;
}

.user-section-attributes {
    display: grid;
    margin-left: 2em;
    grid-template-columns: 368px 114px 112px 178px 120px;
    width: 92.3%;
}

.user-container-category {
    margin-top: 1em;
    margin-left: 5px;
    font-size: 18px;
}

.chronicle-status-list {
    grid-row: 3;
    grid-column: 1/7;
}

.chronicle-status-list li {
    display: flex;
    align-items:stretch ;
}

.user-container-overview {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.user-chronicle-info {
    color: black;
    overflow-x: scroll;
    white-space: nowrap; 
    padding: 0.5em;
    font-size: 18px;
    margin-top: 1px;
    margin-left: 1px;
    width: 19%;
    background-color: white;
    text-overflow: ellipsis;
}

.user-chronicle-info-small {
    color: black;
    padding: 0.5em;
    font-size: 18px;
    margin-top: 1px;
    margin-left: 1px;
    width: 12%;
    background-color: white;
    overflow-wrap: break-word;
}

.chronicle-list-broader {
    cursor: pointer;
    background-color: white;
    right: -100px;
    top: 3px;
    border: 1px solid transparent;
}

.chronicle-list-broader::before {
    content: "\274c";
    padding: 0.4em;
    color: transparent;
    text-shadow: 0 0 0 rgb(119, 119, 119);
}

.chronicle-list-broader:hover {
    background-color: rgb(255, 69, 63);
}

.chronicle-list-broader:hover::before  {
    text-shadow: 0 0 0 white;

}

.chronicle-list-more-info-button {
    margin-top: 0.1em;
    margin-left: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4em;
    width: 1.2em;
    height: 1em;
    padding-bottom: 6px;
    border-radius: 100%;
    color: transparent;
    text-shadow: 0 0 0 rgb(119, 119, 119);
    cursor: pointer;
}

.chronicle-list-more-info-button:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

.chronicle-list-more-info {
    width: 92.2%;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 2em;
    border: 1px solid rgb(172, 172, 172);
    border-top: 1px solid transparent;
    margin-bottom: -1px;
}

.more-info-first-line {
    display: grid;
    margin-top: 1em;
    grid-template-columns: 6.5em 24em 12em;
    margin-bottom: 1em;
}

.user-chronicle-date {
    width: 10em;
    font-size: 18px;
}

.chronicle-title {
    border-left: 1px solid rgb(172, 172, 172);
    width: 40%;
}

.user-chronicle-text {
    font-size: 18px;
    margin: 0.5em;
    margin-right: -0.5em;
    width: 17em;
}

.user-chronicle-textarea {
    color: black;
    height: 7em;
    width: 98%;
    margin-left: 0.5em;
    outline: none;
    font-size: 18px;
}

/* user-history */

.user-history-section {
    width: 80%;
    margin: 2em;
}

.user-container-attributes {
    margin-left: 1.5em;
    display: grid;
    grid-template-columns: 19.8em 8.4em 10em 10em 0em;
    width: 92.4%;
}

.user-history {
    display: flex;
    flex-direction: column;
}

.user-history-item {
    margin-left: 1.5em;
    display: grid;
    grid-template-columns: 20em 8em 10em 12.9em 5.2em;
}

.user-history-attribute {
    color: black;
    overflow-x: scroll;
    white-space: nowrap; 
    padding: 0.5em;
    font-size: 16px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: white;
}

.history {
    margin-top: 0.3em;
    border-top: 1px solid rgb(216, 216, 216);
}

.login-page {
    position: relative;
    margin: auto;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 25em;
    height: 33em;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.5em;
}

.login-page h1 {
    font-family: 'coffee';
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 90%;
    color: rgb(0, 153, 255);
}

.login-page input, .login-page textarea {
    height: 3em;
    width: 90%;
    margin: 1em;
    border: 1px solid transparent;
    outline: none;
    border-bottom: 1px solid rgb(172, 172, 172);
    font-size: 18px;
}

.login-page button {
    height: 3em;
    width: 45%;
    background-color: rgb(0, 153, 255);
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-top: 1.5em;
    cursor: pointer;   
    width: 90%;
    border: 1px solid rgb(216, 216, 216);
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(81, 17, 255));
    margin-bottom: 2em;
}

.register-requirements {
    width: 30%;
    margin: auto;
    margin-top: 0.5em;
}

.register-requirements p {
    color: rgb(119, 119, 119);
    
}

.loginRegisterSwitch {
    position: absolute;
    bottom: 3%;
    color: rgb(119, 119, 119);
}

.filter-search-options {
    margin: auto;
    margin-top: 2em;
    width: 55.7em;
    display: flex;
}

.filter-search-bar {
    font-size: 16px;
    padding: 0.4em;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, 31em);
    grid-auto-rows: minmax(22em, 22em); /* Makes sure that the height of the head of the display stays the same when the navigations for lists pop up and when window is resized*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em 15.25em 2em;
    margin: 1.2em;
    border: 1px solid rgb(0, 153, 255);
}

.search-container-title {
    grid-column: 1/3;
    background-color: rgb(0, 153, 255);
    color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
}

.search-container-title h1 {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin: auto;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-container-stats-container {
    display: flex;
    flex-direction: column;
}

.search-container-stat{
    padding: 0.4em;
    flex-grow: 1;
}

.search-container-synopsis {
    font-size: 17px;
    border-left: 1px solid transparent;
    border-top: none;
    color: black;
}

.search-container-bottom {
    background-color: rgb(0, 153, 255);
    grid-column: 1/3;
    position: relative;
}

/* A child div with position: absolute is positioned relative to the nearest ancestor with a position property of relative, absolute, fixed, or sticky.*/
/*position absolute is required so that the inner star can be placed directly on top of the outer star*/
.grid-info-stars-outer {
    display: flex;
    justify-content: center;
    margin-top: -0.3em;
    font-size: 39px;
    -webkit-text-stroke: 2px rgb(0, 153, 255); /* width and color */
    letter-spacing: 3px;
    color: white;
}

.grid-info-stars-outer::before {
    content: "✦✦✦✦✦";
}

.grid-info-stars-inner {
    position: absolute;
    display: inline-block;
    white-space: nowrap; /* collapses to one single line. does not allow line breaks*/
    overflow: hidden;   /* this is essential because it basically hides content that surpasses width length */
    left: 31%;
    width: 0em; /* star is filled in every 0.9 em*/
}

.grid-info-stars-inner::before {
    content: "✦✦✦✦✦";
    color: rgb(0, 255, 149);
}

.search-container-add {
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    right: 1%;
    top: -23%;
    padding: 0.5em;
    background-color: transparent;
    border: none;
    color: white;
}

/* Chronicle Section */

.chronicles-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 1.5em;
}

.chronicles-nav-bar-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    width: 16em;
    height: 2em;
    border: 1px solid rgb(172, 172, 172);
    margin-left: -1px;
}

.chronicle-page {
    margin: auto;
    margin-top: 1em;
    width: 60.1%;
    display: grid;
    grid-template-columns: 19.5em minmax(250px, 1fr);
    border: 1px solid rgb(172, 172, 172);
    margin-bottom: 4em;
}

.chronicle-page h1 {
    grid-column: 1/3;
    background-color: rgb(0, 153, 255);
    color: white;
    padding-left: 0.5em;
    font-size: 30px;
}

.stats-general {
    margin: 1.5em;
}

.stats-general p, .stats-general label {
    display: flex;
    font-size: 16px;
    padding: 0.4em;
    margin-bottom: -1px;
    width: 16em;
    align-items: center;
}

.stats-general select {
    width: 80%;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 2em;
    margin-left: 0.4em;
    border: none;
    font-size: 16px;
}

.stats-general input {
    width: 60%;
    box-sizing: border-box;
    margin-left: 0.5em;
    border: none;
    font-size: 17px;
    outline: none;
}

.stats-general label:focus-within {
    outline: 2px solid #136eff; /* Dark blue color, commonly used for focus outline */
}

.synopsis {
    margin: 1.5em;
    margin-left: -0.4em;
    resize: none;
    font-size: 16px;
    padding: 0.4em;
    border: 1px solid rgb(172, 172, 172);
    height: 14.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.stats-detailed {
    border: 1px solid rgb(172, 172, 172);
    margin: 1.5em;
    margin-top: 0em;
    margin-bottom: 1.2em;
    font-size: 16.5px;
    grid-column: 1/3;
    padding: 0.4em;
}

.stats-detailed-minor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.minor-text-input {
    width: 50%;
}

.stats-detailed input {
    border: none;
    border-bottom: 1px solid rgb(172, 172, 172);
    margin-left: 1em;
    outline: none;
    font-size: 17px;
}

.search-chronicle-attributes {
    width: 80%;
    height: auto;
    max-height: 17em;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: scroll;
    background-color: white;    
    border: 1px solid rgb(172, 172, 172);
    padding: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.selected-edit {
    outline: 2px solid #136eff; /* Dark blue color, commonly used for focus outline */
}

.chronicle-attribute-list {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    margin-left: -0.25em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.chronicle-attribute-list li, .search-chronicle-attributes li{
    font-size: 16px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(196, 233, 255);
    color: black;
    margin: 0.25em;
    padding: 0.3em;
}

.chronicle-page-bottom {
    grid-column: 2/3;
    margin: 1.2em;
    margin-top: 0em;
    margin-right: 0em;
    display: flex;
    justify-content: flex-end;
}

.chronicle-page-bottom button {
    padding: 0.4em;
    font-size: 17px;
    width: 12em;
    height: 3em;
    border-radius: 10px;
    margin-right: 1.4em;
    cursor: pointer;
}

.chronicle-page-bottom button:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

.chronicle-reviews {
    margin: auto;
    margin-top: 1em;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chronicle-review {
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr;
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
    padding: 1.5em;
    padding-bottom: 0.5em;
    margin-bottom: -1px;
}

.chronicle-review-top {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chronicle-review-size {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(172, 172, 172);
    width: 12em;
    height: 2.5em;
    margin-top: 0.55em;
    left: 50%;
    position: relative;
    font-size: 17px;
    cursor: pointer;
}

.chronicle-review-username {
    font-weight: 300;
    font-size: 22px;
}

.chronicle-review-date {
    font-size: 17px;
}

.chronicle-review-text {
    margin-top: 0.3em;
    grid-column: 1/3;
    line-height: 30px; /* 4px +12px + 4px */
    resize: none;
    padding: 0.6em;
    font-size: 17px;
    border: 1px solid rgb(172, 172, 172);
    overflow: hidden;
    height: auto;
    text-overflow: ellipsis;
}

.agree-disagree {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 98%;
}

.score {
    margin: 0.4em;
    font-size: 22px;
}

.review-arrow {
    width: 2.3em;
    height: 2.3em;
}

.up {
    transform: rotate(90deg);
}

.down {
    transform: rotate(270deg);
}
/* End of Chronicle Section */

/* Contribute Section */

.contribute {
    margin: auto;
    margin-top: 4.5vh;
    width: 50%;
    width: 30em;
    height: auto;
}

.contribute h1 {
    width: 100%;
    margin-top: 1.3vh;
    margin-bottom: 1.3vh;
}

.contribute-adding-chronicles {
    position: relative;
    padding: 0.5em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border: 1px solid rgb(172, 172, 172);
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-auto-rows: auto;
    margin-bottom: 4em;
}

.contribute-adding-chronicles p {
    margin-left: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contribute-adding-chronicles-select, .contribute-adding-chronicles-input {
    margin-top: 0.3em;
    width: 80%;
    height: 80%;
    padding: 0.5em;
    font-size: 16px;
}

.add-searched-chronicle-submit {
    position: absolute;
    bottom: -10%;
    left: -0.3%;
    cursor: pointer;
    width: 100.8%;
    font-weight: 700;
}

.getting-started {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.started-info {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40em;
    padding-bottom: 2em;
}

.blue-text {
    color: rgb(0, 153, 255);
}

.pink-text {
    color: rgb(232, 116, 255);
}

.pink-border {
    border: 1px solid rgb(232, 116, 255);
}

.blue-border {
    border: 1px solid rgb(0, 153, 255);
}

.blue-bottom {
    border-bottom: 1px solid rgb(0, 153, 255);
}

.pink-bottom {
    border-bottom: 1px solid rgb(232, 116, 255);
}

.extension-link {
    margin-top: 0.3em;
    font-size: 20px;
    text-align: start;
    width: 24%;
}

.page-title {
    font-family: 'coffee';
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.started-info p {
    text-align: center;
    margin-top: 0.5em;
    width: 65%;
    font-size: 20px;
}

.started-info a {
    color: black;
}

.attribution {
    position: absolute;
    bottom: 2%;
    left: 80%;
    font-size: 18px;
    color: rgb(255, 219, 255);
    z-index: 5;
}

.sakura-link {
    color: rgb(255, 219, 255);
}

.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 9em;
    bottom: 0%;
    margin-top: 11em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.footer p, .footer a {
    font-size: 19px;
    color: white;
}

.no-top-margin {
    margin-top: 0px;
}

.invisible {
    visibility: hidden;
}