@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'magic';
    src: url("/fonts/magic.ttf");
}

@font-face {
    font-family: 'coffee';
    src: url("/fonts/coffee.ttf");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Quicksand';
}  

.overlay {
    top: 0%;
    height: 100vh;
    z-index: 5;
    position: fixed;
    width: 100vw;
    background-color: rgba(0,0,0,.08); /*this sets the slightly see-through black*/
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 153, 255); /*201, 107, 255   232, 116, 255*/
    height: 3.7em;
}

.nav-bar-title {
    font-family: 'magic';
    color: white;
    position: absolute;
    left: 30px;
    top: 3px;
    font-size: 52px;
}

.nav-link {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding: 0.5em;
    width: 8em;
    font-weight: 500;
    border: 2px solid transparent;
    padding-right: 1px solid white;
}

.nav-link:hover {
    border: 2px solid white;
}

.nav-profile {
    height: 3em;
    width: 3em;
    padding: 0.2em;
    position: absolute;
    top: 5px;
    right: 120px;
    border-radius: 50%;
    border: 3px solid white;
}

.nav-profile:hover {
    background-color: rgb(0, 119, 199);
}

.nav-profile-options {
    position: absolute;
    right: 5px;
}

.nav-logout {
    height: 3em;
    width: 3em;
    padding: 0.2em;
    position: absolute;
    top: 5px;
    right: 30px;
    border: 3px solid white;
    background-color: rgb(0, 153, 255);
}

.nav-logout:hover {
    cursor: pointer;
    background-color: rgb(220, 44, 255);
}

/* Nav Bar End*/

/* Nav category options*/

.nav-category-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
}

.nav-category-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16em;
    height: 2.8em;
    margin: 2em;
    border: 1px solid rgb(216, 216, 216);
}

.nav-category-options-title {
    font-size: 20px;
    color: black;
}

.nav-category-options-container:hover {
    border: 1px solid rgb(172, 172, 172);
}

/* Nav Category End */

/* Chronicles Section */

.chronicle-category-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    cursor: pointer;
}

.chronicle-category-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 15.2em;
    border: 1px solid rgb(216, 216, 216);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

.selected-chronicle-category {
    border-bottom: 0;
    /*background-color:rgb(109, 186, 207);*/
}

.selected-chronicle-category p {
    /*color: white !important;*/
    border-bottom: 1px solid black;
}

.chronicle-category-options p {
    font-size: 20px;
    color: black;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
    width: 76em;
    height: auto;
    margin-top: -12px;
    /*background-color: rgb(109, 186, 207);*/
}

.filter-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.filter-category-bottom {
    display: flex;
    align-items: center;
    margin-left: -0.5em;
}

.confirm-delete {
    background-color: white;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 22em;
    width: 36em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-delete h1 {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.confirm-delete button {
    background-color: white;
    width: 8em;
    height: 2.7em;
    font-size: 16px;
    border: 1px solid rgb(172, 172, 172);
    margin: 0.8em;
    margin-top: 2em;
}

.no:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

.yes:hover {
    background-color: rgb(255, 69, 63);
    color: white;
}

.user-chronicle-filters {
    margin-top: 3em;
    width: 84%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 15.4em);
    grid-auto-rows: minmax(4em, 4em); /* Makes sure that the height of the head of the display stays the same when the navigations for lists pop up and when window is resized*/
}

.user-chronicle-filters-year {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 9.8em;
    padding: 0.2em;
    font-size: 16px;
}

.user-chronicle-filters-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 14em;
    padding-left: 0.4em;
    font-size: 16px;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.user-chronicle-filters-button {
    margin-left: 2.5em;
    width: 80%;
    height: 64.6%;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    font-size: 16px;
}

.filter-category-name {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 0.5em;
    margin-left: 1em;
}

.user-chronicle-filters select {
    display: flex;
    height: 2.5em;
    width: 9em;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    font-size: 16px;
    text-align: center;
    padding-left: 0.4em;
}

.add-chronicles-page {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 1.4em;
    z-index: 2;
    width: 76em;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    height: 40em;
}

.add-chronicles-options {
    margin-bottom: 1.5em;
}

.add-chronicles-search {
    border-radius: 10px;
    border: 1px solid rgb(119, 119, 119);
    padding: 0.8em;
    font-size: 16px;
    width: 30%;
    margin-left: 0.5em;
    height: 2.5em;
}

.close-chronicles-options {
    position: absolute;
    right: 2.5%;
    height: 3.2em;
    width: 3.2em;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
}

.close-chronicles-options:hover {
    background-color: rgb(255, 69, 63);
}

.close-chronicles-options::before {
    content: "\274c";
    padding: 0.4em;
    color: transparent;
    text-shadow: 0 0 0 rgb(119, 119, 119);
}

.close-chronicles-options:hover::before {
    text-shadow: 0 0 0 white;
}

.add-chronicles-section-container {
    display: flex;
    justify-content: space-around;
    height: 90%;
}

.add-chronicles-section {
    border: 1px solid rgb(172, 172, 172);
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.add-chronicles-section h1{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
}

.add-section-attributes {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 16.9em 7.1em 1fr;
    margin-top: 1em;
    font-size: 18px;
}

.add-chronicles-content {
    margin: 1em;
    margin-top: 0.4em;
}

.add-chronicle-item {
    display: grid;
    grid-template-columns: 19em 8em 1fr 1fr;
    grid-template-rows: minmax(2.7em, 2.7em);
}

.add-chronicle-additional {
    position: relative;
    left: -0.3%;
    border: 1px solid rgb(172, 172, 172);
    width: 160.7%;
    margin-bottom: -1px;
}

.add-chronicle-item-top {
    border: 1px solid rgb(172, 172, 172);
    padding-left: 0.6em;
    padding-right: 0.6em;
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-left: -1px;
    margin-bottom: -1px;
}

.add-chronicle-item-top-button {
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    margin-top: 0.1em;
    margin-bottom: 0.4em;
    border-radius: 100%;
    height: 1.4em;
    width: 1.4em;
    font-size: 28px;
    margin-left: 0.3em;
    color: rgb(172, 172, 172);
}

.add-chronicle-bottom-first {
    display: grid;
    margin-left: 0.7em;
    grid-template-columns: 3.5em 8em 4em 5em 4em 4em;
    margin-top: 1em;
}

.add-chronicle-bottom-first p {
    font-size: 16px;
    display: flex;
    margin-right: 0.2em;
    align-items: center;
}

.add-chronicle-bottom-first select {
    width: 8.5em;
    height: 2.5em;
    font-size: 14px;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.4em;
}

.add-chronicle-bottom-first input {
    width: 5em;
    height: 2.5em;
    font-size: 14px;
    padding: 0.4em;
}

.add-chronicle-item-middle {
    font-size: 16px;
    margin-left: 0.7em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.add-chronicle-textarea {
    width: 95%;
    height: 5em;
    margin-left: 0.7em;
    resize: none;
    font-size: 16px;
    padding: 0.4em;
    border: 1px solid rgb(172, 172, 172);
    outline: none;
}

.add-chronicle-textarea::selection {
    border: 1px solid rgb(172, 172, 172);
}

.add-chronicles-item-bottom {
    display: flex;
    justify-content: center;
    width: 100%;    
}

.add-chronicle-button {
    width: 9em;
    height: 2.5em;
    margin: 1em;
    font-size: 16px;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
}

.user-container-section {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 379px 115px 122px 168px;
    width: 85%;
    margin-left: 5%;
    margin: 2em;
}

.user-section-title{
    font-weight: 300;
    grid-row: 1;
    grid-column: 1/7;
    width: 92.3%;
    margin-left: 2.9%;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.user-container-category {
    margin-top: 1em;
    margin-left: 34px;
    font-size: 18px;
}

.chronicle-list {
    grid-row: 3;
    grid-column: 1/7;
}

.chronicle-status-list {
    grid-row: 3;
    grid-column: 1/7;
}

.chronicle-status-list li {
    display: flex;
    align-items:stretch ;
}

.user-container-overview {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.user-chronicle-info {
    overflow-x: scroll;
    white-space: nowrap; 
    padding: 0.5em;
    font-size: 18px;
    outline: 1px solid rgb(172, 172, 172);
    margin-top: 1px;
    margin-left: 1px;
    width: 18%;
    background-color: white;
    border: 1px solid transparent;
}

.user-chronicle-info-small {
    padding: 0.5em;
    font-size: 18px;
    outline: 1px solid rgb(172, 172, 172);
    margin-top: 1px;
    margin-left: 1px;
    width: 12%;
    background-color: white;
    border: 1px solid transparent;
    overflow-wrap: break-word;
}

.chronicle-list-broader {
    cursor: pointer;
    background-color: white;
    right: -100px;
    top: 3px;
    border: 1px solid transparent;
}

.chronicle-list-broader::before {
    content: "\274c";
    padding: 0.4em;
    color: transparent;
    text-shadow: 0 0 0 rgb(119, 119, 119);
}

.chronicle-list-broader:hover {
    background-color: rgb(255, 69, 63);
}

.chronicle-list-broader:hover::before  {
    text-shadow: 0 0 0 white;

}

.chronicle-list-more-info-button {
    margin-top: 0.1em;
    margin-left: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4em;
    width: 1.2em;
    height: 1em;
    padding-bottom: 6px;
    border: 1px solid rgb(119, 119, 119);
    background-color: white;
    border-radius: 100%;
    color: transparent;
    text-shadow: 0 0 0 rgb(119, 119, 119);
    cursor: pointer;
}

.chronicle-list-more-info-button:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

.chronicle-list-more-info {
    width: 92.2%;
    margin-left: 1.95em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 2em;
    border: 1px solid rgb(172, 172, 172);
    margin-bottom: -1px;
}

.more-info-first-line {
    display: grid;
    margin-top: 1em;
    grid-template-columns: 6.5em 24em 12em;
}

.user-chronicle-date {
    width: 10em;
    font-size: 18px;
}

.chronicle-title {
    width: 40%;
}

.user-chronicle-text {
    font-size: 18px;
    margin: 0.5em;
    margin-right: -0.5em;

}

.user-chronicle-textarea {
    height: 7em;
    width: 98%;
    margin-left: 0.5em;
    outline: none;
    border: 1px solid rgb(172, 172, 172);
    font-size: 18px;
    padding: 0.5em;
    resize: none;
}

/* user-history */

.user-history-section {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    margin: 2em;
}

.history {
    margin-top: 0.3em;
    border-top: 1px solid rgb(216, 216, 216);
}

.pTwo {
    grid-column: 1/3;
}

.pThree {
    grid-column: 5/7;
}

.pFour {
    padding-left: 0.1em;
}

.login-page {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 25em;
    height: 33em;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.5em;
}

.login-page h1 {
    font-family: 'coffee';
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 90%;
    color: rgb(0, 153, 255);
}

.login-page input, .login-page textarea {
    height: 3em;
    width: 90%;
    margin: 1em;
    border: 1px solid transparent;
    outline: none;
    border-bottom: 1px solid rgb(172, 172, 172);
    font-size: 18px;
    padding: 0.5em;
    resize: none;
}

.login-page button {
    height: 3em;
    width: 45%;
    background-color: rgb(0, 153, 255);
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-top: 1.5em;
    cursor: pointer;   
    width: 90%;
    border: 1px solid rgb(216, 216, 216);
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(81, 17, 255));
    margin-bottom: 2em;
}

.filter-search-options {
    margin: auto;
    margin-top: 2em;
    width: 55.7em;
    display: flex;
}

.filter-search-bar {
    font-size: 16px;
    padding: 0.4em;
}

.search-results {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.search-results-attributes {
    margin-top: 1em;
    margin-right: 2.4em;
    display: grid;
    grid-template-columns: 20.2em 6em 6.5em 6em 8em 6em;
}

.searched-chronicle {
    display: grid;
    grid-template-columns: 20em 6em 6.5em 6em 8em 6em 3em;
    grid-template-rows: minmax(2.7em, 2.7em);
}

.searched-chronicle-text {
    font-size: 17px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.3em;
    margin-left: -1px;
    margin-bottom: -1px;
}

.searched-chronicle-add {
    position: relative;
    right: 0.2%;
    border: 1px solid rgb(172, 172, 172);
    width: 52.55em;
    margin-bottom: -1px;
}

.searched-chronicle-bottom {
    display: grid;
    margin-left: 1em;
    grid-template-columns: 3.5em 12em 4em 10em 4em 4em;
    margin-top: 1em;    
}

.searched-chronicle-bottom p {
    font-size: 16px;
    display: flex;
    margin-right: 0.2em;
    align-items: center;
}

.searched-chronicle-bottom select {
    width: 8.5em;
    height: 2.5em;
    font-size: 14px;
    background-color: white;
    border: 1px solid rgb(172, 172, 172);
    padding: 0.4em;
}

.searched-chronicle-bottom input {
    width: 5em;
    height: 2.5em;
    font-size: 14px;
    padding: 0.4em;
}

/* Chronicle Section */

.chronicles-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 1.5em;
}

.chronicles-nav-bar-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    width: 16em;
    height: 2.2em;
    border: 1px solid rgb(172, 172, 172);
}

.chronicle-page {
    margin: auto;
    margin-top: 1em;
    width: 60.1%;
    display: grid;
    grid-template-columns: 19.5em 1fr;
    border: 1px solid rgb(172, 172, 172);
}

.chronicle-page h1 {
    grid-column: 1/3;
    background-color: rgb(0, 153, 255);
    color: white;
    padding-left: 0.5em;
}

.stats-general {
    margin: 1.5em;
}

.stats-general p {
    border: 1px solid rgb(172, 172, 172);
    font-size: 17px;
    padding: 0.4em;
    margin-bottom: -1px;
    width: 16em;
}

.synopsis {
    margin: 1.3em;
    margin-left: 0.8em;
    resize: none;
    font-size: 18px;
    padding: 0.4em;
    border: 1px solid rgb(172, 172, 172);
}

.stats-detailed {
    border: 1px solid rgb(172, 172, 172);
    margin: 1.3em;
    margin-top: 0.4em;
    margin-bottom: 1.8em;
    font-size: 18px;
    grid-column: 1/3;
    padding: 0.4em;
}

.chronicle-attribute-list {
    margin-left: -0.25em;
}

.chronicle-attribute-list li{
    font-size: 16px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(196, 233, 255);
    color: black;
    margin: 0.25em;
    padding: 0.3em;
}

.chronicle-reviews {
    margin: auto;
    margin-top: 1em;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chronicle-review {
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr;
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
    padding: 1.5em;
    padding-bottom: 0.5em;
    margin-bottom: -1px;
}

.chronicle-review-username {
    font-weight: 300;
    font-size: 22px;
}

.chronicle-review-date {
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.chronicle-review-text {
    margin-top: 0.3em;
    grid-column: 1/3;
    height: 15.3em;
    line-height: 30px; /* 4px +12px + 4px */
    resize: none;
    padding: 0.6em;
    font-size: 17px;
    border: 1px solid rgb(172, 172, 172);
    overflow-y: hidden;
}

.agree-disagree {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 98%;
}

.score {
    margin: 0.4em;
    font-size: 22px;
}

.arrow {
    font-size: 40px;
    transform: scale(1.6, 1);
}

/* End of Chronicle Section */

